#ignore node modules
node_modules/

#vscode: share workspace tasks, settings, recommended extensions; ignore the rest
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
